

{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <!-- Check if We have a valid tvshow ep -->
        {% if podcastep | length > 0 %}
            <h2 class="title"> Podcast ID {{podcastep[0].postcast_id}} episode title: {{podcastep[0].podcast_episode_title}} published on {{podcastep[0].podcast_episode_published_date}} </h2>
            <br/>
            <h2 class="title"> Length {{podcastep[0].podcast_episode_length}}
            <br/>
            <h2 class = "title"> URI {{podcastep[0].podcast_episode_uri}}</h2>
            
            <h3> Artworks </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Description </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <h3> Copyright </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'copyright holder' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <h3> Genre </h3>
            {% for instance in podcastep %}
                {% if instance.md_type_name == 'podcast genre' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2 class="title"> Invalid Podcast Ep ID</h2>
        {% endif %}

    </div>
</div>
{% include 'bottom.html'%}
